/* purgecss start ignore */
@tailwind base;

@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

/* purgecss start ignore */
html {
  @apply antialiased dark:bg-dark-1100;
}

.white-blur {
  backdrop-filter: blur(20px) saturate(180%);
  background-color: hsla(0, 0%, 100%, 0.8);

  @screen sm {
    background-color: hsla(0, 0%, 100%, 0.85);
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

@layer base {
  .h2 {
    @apply text-[28px] font-semibold leading-[42px] text-dark-1100 sm:text-4xl sm:leading-[46px] sm:leading-tight;
  }

  // 999999
  .h3 {
    @apply text-xl font-semibold text-[#1d1d1f];
  }

  .body {
    @apply text-[18px] leading-[27px] leading-relaxed text-dark-1100;
  }
}

@layer components {
  .button {
    @apply rounded-sm px-4 py-1.5 font-medium shadow-sm transition focus:outline-none focus:ring-4 focus:ring-yellow-400 focus:ring-opacity-30;
  }

  // .button-primary {
  //   @apply text-[#1e2026] bg-yellow-300 active:bg-[#f0b909] focus:bg-[#f0b909];
  // }

  .button-lg {
    @apply px-10 py-2 text-lg font-medium;
  }

  .link {
    @apply font-medium text-blue-600 transition duration-150 ease-in-out hover:text-blue-500 focus:underline focus:outline-none;
  }
}

@layer utilites {
  .dark-blur {
    background: rgba(5, 5, 5, 0.5);
    box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 0px;
    backdrop-filter: saturate(180%) blur(20px);
  }

  .dark-blur-200 {
    background: rgba(5, 5, 5, 0.5);
    box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 0px;
    backdrop-filter: saturate(180%) blur(7.5px);
  }

  .white-blur {
    backdrop-filter: blur(20px) saturate(180%);
    background-color: hsla(0, 0%, 100%, 0.9);
  }
}
